:root {
    --background-color-primary: #1F1F1F;
    --background-color-secondary: #262626;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    background-color: var(--background-color-primary);

}

.sidebar {
    background-color: var(--background-color-secondary);
}