:root {
    --background-main: #1F1F1F;
    --background-sidebar: #262626;
    --background-btn: #d04348;

    --hover-btn: #d05f63;
    --hover-btn-secondary: #363636;
    --hover-btn-tertiary: #555;
    --hover-nav-item: #7746403d;

    --selected-item-font: #f07f75;

    --border-primary: #3d3d3d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    background-color: var(--background-main);

}

.sidebar {
    background-color: var(--background-sidebar);
}

.main .addtask-btn {
    color: #fff;
    background-color: var(--background-btn);
}

nav {
    font-size: 14px;
    padding: 10px 10px 0 15px;
}

.nav-list-item,
.projects-list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
}


.nav-list-item svg {
    width: 25px;
    height: auto;
}

.nav-list-item:hover,
.projects-list-item:hover,
.projects-list-title:hover {
    background-color: var(--hover-nav-item);
}

.projects-list-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    justify-content: center;
    text-align: center;
}

.title {
    justify-self: start;
    align-self: self-end;
    padding-left: 200px;
    padding-bottom: 20px;
    font-size: 26px;
}

.empty-state {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
    align-items: center;
}

.empty-state img {
    margin-bottom: 15px;
}

.empty-state-actions {
    font-weight: normal;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 280px;
    padding: 0 20px;
}

.addtask-btn {
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.addtask-btn:hover {
    background-color: var(--hover-btn);
}

.list-item-active {
    background-color: var(--hover-btn);
}

.list-item-active:hover {
    background-color: var(--hover-btn);
}

.taskform {
    border: 1px solid var(--border-primary);
    width: 600px;
    height: 200px;
    justify-self: center;
    padding: 20px;
    border-radius: 10px;
}

.taskform-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 10px;
    justify-content: flex-start;
}

.taskform-input .title-input {
    font-weight: bold;
}

.taskform-input .title-input,
.taskform-input .descr-input {
    background-color: transparent;
    border: 0;
}

.taskform-input .title-input:focus,
.taskform-input .descr-input:focus {
    outline: none;
}

.taskform-attr {
    align-self: start;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.taskform-attr .date,
.taskform-attr .priority {
    display: flex;
    align-items: center;
    font-size: 12px;
    border: 1px solid var(--border-primary);
    border-radius: 6px;
    padding: 5px 10px;
    gap: 4px;
    cursor: pointer;
}

.taskform-attr .priority {
    position: relative;
}

.priority-dropdown {
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: -10px;
    border: 1px solid var(--border-primary);
    width: 100px;
    border-radius: 10px;
    background-color: var(--background-sidebar);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}

.priority-dropdown-option {
    cursor: pointer;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}

.priority-dropdown-option svg {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.priority-dropdown-option:first-child {
    border-radius: 10px 10px 0 0;
}

.priority-dropdown-option:last-child {
    border-radius: 0 0 10px 10px;
}

.priority-dropdown-option:hover {
    background-color: var(--hover-btn-secondary);
}

.taskform-attr .date:hover,
.taskform-attr .priority:hover {
    background-color: var(--hover-btn-secondary);
}

.sidebar-newtask-btn {
    background-color: var(--background-sidebar);
    color: var(--background-btn);
    border: 0px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    gap: 6px;
    cursor: pointer;
    width: 185.83px;
    border-radius: 5px;
    margin: 10px 10px 0px 15px;
}

.sidebar-newtask-btn:hover {
    background-color: var(--hover-nav-item);
}

.modal {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s ease-in-out;
    border: var(--border-primary);
    background-color: var(--background-sidebar);
    color: #fff;
    border-radius: 10px;
    z-index: 10;
    padding: 20px 36px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .08), 0 15px 50px rgba(0, 0, 0, .6);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal-header .title {
    justify-self: start;
    align-self: self-start;
    padding: 0;
    font-size: 26px;
}

.close-btn {
    color: #fff;
    background-color: var(--background-main);
    padding: 5px 15px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.taskform-attr .date {
    display: flex;
    align-items: center;
    position: relative;
}

.taskform-attr .date-input {
    background-color: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    margin: 0 0 0 10px;
    padding: 2px 4px;
    position: absolute;
    bottom: -30px;
    left: -10px;
    display: inline-block;
}

.taskform-attr .date-input::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
}

.date-input.hidden {
    display: none;
}

.removedate-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    line-height: 1;
    border-radius: 2px;
    margin-left: 3px;
}

.removedate-btn:hover {
    background-color: var(--hover-btn-tertiary);
}

.hidden {
    display: none;
}